@import './colours.css';
@import './icons.css';

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap');


:root {
  /* GENERAL STYLES */
  --head-font: "Source Serif Pro", Georgia, 'Times New Roman', Times, serif;
  --body-font: Arial, Helvetica, sans-serif;

  /* SIZING */
  --head-height: 4rem;

  /* Shift to colours.css */
  --bg: rgb(240,240,240);
  --bg-accent: rgb(30,30,30);

  --font: var(--bg-accent);
  --font-accent: var(--bg);
}

/* ======= PRESETS ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--bg-colour);
  
  font-family: var(--body-font);
}

/* ======= DEFAULTS ======= */

h1, h2, h3,
h4, h5, h6 {
  margin: initial;
  padding: initial;

  font-family: var(--head-font);
}

p {
  margin: initial;
  padding: initial;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--body-font);
  opacity: 0.8;

  transition: opacity 0.5s;
}

a:hover {
  opacity: 1;
}


/* ======= STRUCTURE ======= */
body {
  display: grid;
  grid-template-rows: var(--head-height) /* header */
                      minmax(calc(100vh - var(--head-height)), max-content) /* main */
                      minmax(var(--head-height), max-content); /* footer */
}

body > header {
  display: flex;
  position: sticky;
  top: 0;

  padding: 0 3em;

  background-color: var(--bg-accent);
  color: var(--font-accent);

  align-items: center;
  justify-content: space-between;
  z-index: 1;
  /* box-shadow: 0 1px 2px rgba(30,30,30, 0.2); */
}

body > main {
  display: flex;
  flex-direction: column;

  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}

body > footer {
  display: flex;
  position: relative;
  /* align-items: center; */

  background-color: var(--bg-accent);
  color: var(--font-accent);
}

/* ======= SPECIFICS ======= */

.sign-in {
  border-radius: 0.75em;
  background-color: rgb(159, 93, 255);
  padding: 0.5em 0.75em;
  border: 0.1em solid rgb(159, 93, 255);

  transition: color 0.5s,
              background 0.5s;

  color: var(--font);
}

.sign-in:hover {
  background-color: transparent;
  color: var(--font-accent);
}

body > header > nav {
  display: flex;
  align-items: center;
}

body > header > nav > * {
  margin: 0 0.5em;
}

footer > nav {
  display: flex;
  flex-direction: column;
  margin-top: 1.6em;
}

footer > nav:not(:last-of-type) {
  padding-right: 2.5em;
}

footer > nav > a {
  color: rgb(159, 93, 255);
}

.logo {
  display: flex;
  color: white;

  height: 100%;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
}

.logo > *:nth-child(2) {
  padding-left: 0.5rem;
}

.logo > .icon {
  height: 100%;
  width: calc(var(--head-height) / 1.4);
}

.logo > h1 {
  font-size: 1.5rem;
  font-weight: 400;
  
  font-family: "Source Serif Pro", serif;
}

.copyright {
  position: absolute;
  bottom: 0.2em;
  left: 2em;
}

.moonrisers-block {
  display: flex;

  height: var(--head-height);
  margin: 2em 0;
  margin-left: 2em;
  background-color: initial;
  color: black;

  width: 25em;
  height: 5em;

  background-image: url(../assets/images/banner_light_large_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.hexbrew-logo {
  height: 10rem;
  width: auto;
  margin: 0 1em;
  background: white;
  border-radius: 50%;
  padding: 1rem;
}

main > h1 {
  border-bottom: 0.075em solid black;
  margin-bottom: 0.5em;
}

.intro {
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
}

.about p:not(:last-of-type) {
  margin-bottom: 0.75em;
}

iframe.intro-vid {
  min-width: 100%;
}

/* body > header:after {
  position: absolute;
  top: var(--head-height);
  left: 0;
  content: '';
  background-image: url('../assets/images/short_dither.png');
  height: 44px;
  width: 100%;
  background-position-y: top;
  background-size: auto 44px;
  image-rendering: crisp-edges;

  background-repeat: repeat-x;

  opacity: 1;
} */