:root {
  --p1: #E0FEFE;
  --p2: #C7CEEA;
  --p3: #FFDAC1;
  --p4: #FF9AA2;
  --p5: #FFFFD8;
  --p6: #B5EAD7;

}

body {
  background-color: var(--p1);
}

body > header {
  background-color: var(--p2);
}

body > main {
  background-color: var(--p3);
}

body > footer {
  background-color: var(--p4);
}